<div class="carousel relative rounded relative overflow-hidden shadow-xl max-w-3xl w-full">
    <div class="carousel-inner relative overflow-hidden w-full">
      <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden=""
        checked="checked">
      <div class="carousel-item absolute opacity-0 bg-cover" style="height:500px; background-image: url(/src/assets/images/dj.webp);"><include src="./views/carruselComponente.html" locals='{ "titulo": "Día de la música electrónica", "fecha": "Viernes 16 de junio de 2022" }'></include>
      </div>
      <label for="carousel-3"
        class="control-1 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden font-bold text-black hover:text-white rounded-full bg-white hover:bg-black leading-tight text-center z-10 inset-y-0 left-0 my-auto flex justify-center content-center"><i
          class="fas fa-angle-left mt-3"></i></label>
      <label for="carousel-2"
        class="next control-1 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden font-bold text-black hover:text-white rounded-full bg-white hover:bg-black leading-tight text-center z-10 inset-y-0 right-0 my-auto"><i
          class="fas fa-angle-right mt-3"></i></label>

      <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
      <div class="carousel-item absolute opacity-0 bg-cover" style="height:500px; background-image: url(/src/assets/images/singer.webp)">
        <include src="./views/carruselComponente.html" locals='{ "titulo": "Día del pop nacional", "fecha": "Miércoles 14 de junio de 2022" }'></include>  
      </div>
      <label for="carousel-1" class=" control-2 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden font-bold text-black hover:text-white rounded-full bg-white hover:bg-black leading-tight text-center z-10 inset-y-0 left-0 my-auto"><i class="fas fa-angle-left mt-3"></i></label>
      <label for="carousel-3"
        class="next control-2 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden font-bold text-black hover:text-white rounded-full bg-white hover:bg-black leading-tight text-center z-10 inset-y-0 right-0 my-auto"><i
          class="fas fa-angle-right mt-3"></i></label>

      <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
      <div class="carousel-item absolute opacity-0 bg-cover" style="height:500px; background-image: url(/src/assets/images/concierto.webp)"><include src="./views/carruselComponente.html" locals='{ "titulo": "Día del rock nacional", "fecha": "Domingo 18 de junio de 2022" }'></include>
      </div>
      <label for="carousel-2"
        class="control-3 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden font-bold text-black hover:text-white rounded-full bg-white hover:bg-black leading-tight text-center z-10 inset-y-0 left-0 my-auto"><i
          class="fas fa-angle-left mt-3"></i></label>
      <label for="carousel-1"
        class="next control-3 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden font-bold text-black hover:text-white rounded-full bg-white hover:bg-black leading-tight text-center z-10 inset-y-0 right-0 my-auto"><i
          class="fas fa-angle-right mt-3"></i></label>

      <ol class="carousel-indicators">
        <li class="inline-block mr-3">
          <label for="carousel-1"
            class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-black">•</label>
        </li>
        <li class="inline-block mr-3">
          <label for="carousel-2"
            class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-black">•</label>
        </li>
        <li class="inline-block mr-3">
          <label for="carousel-3"
            class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-black">•</label>
        </li>
      </ol>

    </div>
  </div>