<!-- <footer>&copy; {{ year }}</footer> -->

<footer class="pt-8 pb-8 text-center mx-3.5 laptop:flex laptop:justify-evenly">
    <nav class="px-3 laptop:w-9/12">
    
        <ul class="h-170 px-5 my-0 mb-4 faded-color flex flex-col items-center laptop:justify-around tablet:flex-row laptop:flex-row laptop:justify-around tablet:justify-around laptop:h-20 tablet:h-20">
            <li class="pb-2.5 zoom laptop:pr-8 "><a href="/src/index.html"><img class="align-middle max-w-50" src="/src/assets/images/logoF.webp" alt="logo"></a></li>
            <li class="pb-2.5 zoom hover:text-white laptop:pr-8"><a href="/src/index.html">Inicio</a></li>
            <li class="pb-2.5 zoom hover:text-white laptop:pr-8"><a href="#">Participantes</a></li>
            <li class="pb-2.5 zoom hover:text-white laptop:pr-8"><a href="#">Blog</a></li>
            <li class="pb-2.5 zoom hover:text-white laptop:pr-8"><a href="#">Contáctanos</a></li>
        </ul>
    </nav>
    <div class="laptop:w-3/12">    
        <ul class="text-3xl pt-8 h-170 faded-color laptop:pt-3.5 laptop:flex tablet:flex laptop:flex-row tablet:flex-row laptop:justify-center tablet:justify-center laptop:h-20 tablet:h-20">
            <li class="laptop:w-full pb-8 hover:text-white tablet:mr-5"><a href="#"><i class="laptop:w-full fa-brands fa-google-plus-square"></i></a></li>
            <li class="laptop:w-full pb-8 hover:text-white tablet:mr-5"><a href="#"><i class="laptop:w-full fa-brands fa-facebook"></i></a></li>
            <li class="laptop:w-full pb-8 hover:text-white tablet:mr-5"><a href="#"><i class="laptop:w-full fa-brands fa-twitter-square"></i></a></li>
          </ul>
    </div>
</footer>