<div class="grid justify-center sm:rows-6-diff relative min-h-950 py-7 before:content-[' '] before:bg-[url('/src/assets/images/bg1.webp')] before:bg-cover before:absolute before:inset-0 before:opacity-50 tablet:grid-tablet justify-center tablet:pl-12 laptop:pl-12 laptop:grid-laptop">
    <div class="row-start-1 col-start-1 col-end-2 bg-transparent perspective-1000 w-44 ml-8 mr-10 float-left tablet:row-start-1 tablet:col-start-1 tablet:max-h-80 tablet:max-w-xs tablet:mt-10 laptop:row-start-1 laptop:col-start-2">
        <div class="flip-box">
          <div class="absolute back-card-hidden">
            <img class="img-grid float-left tablet:h-170 laptop:h-170 laptop:w-64 tablet:w-64 tablet:max-h-80 laptop:max-h-80 tablet:max-w-xs laptop:max-w-xs" src="/src/assets/images/band1.webp">
          </div>
          <div class="flip-box-back pr-5 tablet:flip-box-back-tablet laptop:flip-box-back-tablet">
            <p class="pt-3.5 pl-5">¡Grupos floclóricos!</p>
            <p class="pt-3.5 pl-5">Descubre a nuestros artistas</p>
          </div>
        </div>
    </div>
    <div class="row-start-2 col-start-2 col-end-4 mr-14 bg-transparent perspective-1000 w-44 float-right tablet:row-start-1 tablet:col-end-3 tablet:mt-10 tablet:max-h-80 tablet:max-w-xs tablet:w-72 tablet:ml-20 laptop:row-start-1 laptop:col-start-4	">
        <div class="flip-box">
          <div class="absolute back-card-hidden">
            <img class="img-grid tablet:h-170 tablet:w-64 tablet:max-h-80 tablet:max-w-xs
            laptop:h-170 laptop:w-64 laptop:max-h-80 laptop:max-w-xs laptop:row-start-1 laptop:col-end-2 laptop:row-start-1 laptop:col-start-4" src="/src/assets/images/band2.webp">
          </div>
          <div class="flip-box-back tablet:flip-box-back-tablet laptop:flip-box-back-tablet">
              <p class="pt-3.5">Música Pop</p>
              <p>Las novedades más exclusivas</p>
          </div>
        </div>
    </div>
    <div class="row-start-3 pl-28 pt-4 w-170 float-left font-festival relative tablet:ml-36 tablet:h-170 tablet:w-250 tablet:row-start-3 tablet:col-start-2 tablet:pl-0 tablet:ml-0 laptop:row-start-2 laptop:col-start-2 laptop:pt-20 laptop:text-right laptop:pl-10 laptop:text-6xl">Festival </div>

    <div class="row-start-4 col-start-2 pt-4 sm:w-170 tablet:w-170 float-right font-festival relative tablet:mt-36 tablet:float-left tablet:pl-0 tablet:h-170 tablet:w-250 tablet:row-start-4 tablet:col-start-2 tablet:ml-0 tablet:mt-0 laptop:row-start-2 laptop:col-start-3 laptop:pt-20 laptop:text-left laptop:text-6xl laptop:w-full">de Música</div>

    <div class="row-start-5 col-start-1 mr-14 bg-transparent perspective-1000 w-44 float-left sm:ml-8 tablet:ml-8 tablet:row-start-5 tablet:col-start-1 tablet:max-h-80 tablet:max-w-xs laptop:row-start-3 laptop:col-start-1 laptop:mr-0  tablet:mb-10">
        <div class="flip-box">
          <div class="absolute back-card-hidden">
            <img class="img-grid tablet:h-170 tablet:w-64 tablet:max-h-80 tablet:max-w-xs laptop:row-start-3 laptop:col-start-1 laptop:mr-0 laptop:h-170 laptop:w-64 laptop:max-h-80 laptop:max-w-xs" src="/src/assets/images/band3.webp">
          </div>
        <div class="flip-box-back tablet:flip-box-back-tablet laptop:flip-box-back-tablet">
            <p class="pt-3.5">Indie</p>
            <p class="px-1.5">Descubre hits novedosos</p>
        </div>
        </div>
    </div>

    <div class="row-start-6 col-start-2 mr-14 bg-transparent perspective-1000 w-44 float-right tablet:row-start-5 tablet:col-end-3 tablet:max-h-80 tablet:max-w-xs tablet:w-72 tablet:ml-20 laptop:row-start-3 laptop:col-start-3  tablet:mb-10">

        <div class="flip-box">
          <div class="absolute back-card-hidden">    
            <img class="img-grid tablet:h-170 tablet:w-64 tablet:max-h-80 tablet:max-w-xs laptop:row-start-3 laptop:col-start-3 laptop:mr-0 laptop:h-170 laptop:w-64 laptop:max-h-80 laptop:max-w-xs" src="/src/assets/images/band4.webp">
          </div>
        <div class="flip-box-back tablet:flip-box-back-tablet laptop:flip-box-back-tablet">
            <p class="pt-3.5">¡Y mucho más!</p>
            <p>¡Ven al Festival de Música!</p>
        </div>
        </div>
    </div>   
</div>
